
.service-bg{
    background: rgb(105,240,168);
    background: linear-gradient(146deg, rgba(105,240,168,1) 0%, rgba(144,144,193,1) 35%, rgba(63,160,180,1) 100%);
}
.service-card {
    transition: transform 0.2s; /* Smooth transition for hover effect */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.service-card:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.card-img-top {
    width: 100%; /* Full width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    border-top-left-radius: 10px; /* Rounded corners for the image */
    border-top-right-radius: 10px; /* Rounded corners for the image */
}