.search-item {
    border-radius: 10px;
    background-color: #f8f9fa; /* Light gray background */
}

.search-item img {
    max-height: 180px;
    object-fit: cover;
    width: 100%;
}

.provider-name {
    font-size: 1.8rem; /* Increased font size */
    font-weight: bold;
    color: #333; /* Dark color */
}

.profession-type {
    font-size: 1.2rem;
    color: #555;
}

.badge {
    font-size: 0.9rem;
    padding: 5px 8px;
}



.icon-location {
    color: #d9534f;
}



.star-icon {
    font-size: 1.5rem;
    margin-right: 4px;
}

.search-item .btn {
    font-size: 1rem;
}

.available {
    background-color: #13bb3ad3; /* Green */
    color: white;
}

.not-available {
    background-color: #dc3545; /* Red */
    color: white;
}